#mobile-aboutActive {
    top: 90px;
    width: 100vw;
    height: calc(100vh - 90px);
}

#mobile-aboutHidden {
    top: 100vh;
    height: 0;
    width: 100vw;
    border: none;
}

#mobile-aboutTitle {
    color: inherit;
    margin-top: 30px;
    margin-left: 15%;
}

#about-hide-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    color: inherit;
    background: none;
    outline: none;
    border: none;
    font-size: 38px;
}

#mobile-about-content {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
}

.mobile-about {
    position: absolute;
    color: white;
    text-align: left;
    background: rgba(63, 63, 63, 0.92);
    border-top: 1px solid gray;
    transition: all .2s ease-in-out;
    overflow: auto;
    left: 0;
    width: 100vw;
    filter: blur(1);
    z-index: 10;
}

@media(prefers-color-scheme: light) {
    .mobile-about {
        color: black;
        background: rgba(192, 192, 192, 0.92);
    }
}

@media(prefers-color-scheme: dark) {
    .mobile-about {
        color: white;
        background: rgba(63, 63, 63, 0.92)
    }
}