.mobile-planet {
    position: absolute;
    border: 2px solid white;
    background: black;
    border-radius: 100%;
    transform: rotate(90deg);
}

@media(prefers-color-scheme: light) {
    .mobile-planet {
        border: 2px solid black;
        background: white;
    }
}

@media(prefers-color-scheme: dark) {
    .mobile-planet {
        border: 2px solid white;
        background: black;
    }
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}