#aboutActive {
    top: 110px;
    width: 100vw;
    height: calc(100vh - 110px);
}

#aboutHidden {
    top: 100vh;
    height: 0;
    width: 100vw;
    border: none;
}

#title {
    color: inherit;
    margin-top: 100px;
    margin-left: 20px;
}

.about {
    position: absolute;
    color: white;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    background: rgba(63, 63, 63, 0.8);
    border-top: 1px solid gray;
    transition: all .2s ease-in-out;
    overflow: hidden;
    left: 0;
    width: 100vw;
    filter: blur(1);
}

@media(prefers-color-scheme: light) {
    .about {
        color: black;
        background: rgba(192, 192, 192, 0.8);
    }
}

@media(prefers-color-scheme: dark) {
    .about {
        color: white;
        background: rgba(63, 63, 63, 0.8)
    }
}