.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  background: black;
}

@media(prefers-color-scheme: light) {
  .App {
      color: black;
      background: white;
  }
}

@media(prefers-color-scheme: dark) {
  .App {
      color: white;
      background: black;
  }
}