.orbit {
    position: absolute;
    border: 1px dashed white;
    border-radius: 100%;
    transition: all .5s ease-in-out;
}

.planet {
    position: absolute;
    border-color: white;
    background: black;
    border-radius: 100%;
    transform: rotate(90deg);
    z-index: 99;
}

.ring {
    position: absolute;
    border: 1px solid white;
    border-radius: 100%;
    background: none;
    left: calc(50% - 1px);
    transform: rotate(345deg);
}

@media(prefers-color-scheme: light) {
    .orbit {
        border-color: black;
    }

    .planet {
        border: 2px solid black;
        background: white;
    }

    .ring {
        border: 1px solid black;
    }
}

@media(prefers-color-scheme: dark) {
    .orbit {
        border-color: white;
    }
    
    .planet {
        border: 2px solid white;
        background: black;
    }

    .ring {
        border: 1px solid white;
    }
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}