#projectsActive {
    top: 90px;
    height: calc(100% - 90px);
}

#projectsHidden {
    top: 100vh;
    height: calc(100% - 90px);
}

#title {
    color: inherit;
    margin-top: 100px;
    margin-left: 20px;
}

.projects {
    position: absolute;
    color: white;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    background: rgba(63, 63, 63, 0.8);
    border-top: 1px solid gray;
    transition: all .2s ease-in-out;
    left: 0;
    width: 100vw;
}

#project-content {
    max-height: calc(100% - 160px);
    overflow: auto;
}

@media(prefers-color-scheme: light) {
    .projects {
        color: black;
        background: rgba(192, 192, 192, 0.8);
    }
}

@media(prefers-color-scheme: dark) {
    .projects {
        color: white;
        background: rgba(63, 63, 63, 0.8)
    }
}